* text=auto eol=lf

*.sh text eol=lf
Dockerfile text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.urdf text eol=lf
*.rviz text eol=lf
*.html text eol=lf
*.svg text eol=lf

*.pdf binary
*.stl binary